.overlay {
  position: relative;
  cursor: pointer !important;
  border: none !important;
}

.overlay:hover {
  transform: scale(1.03);
}

.overlay > small {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  border: none;
}
