.overlay {
    position: relative;
    cursor:pointer;
}

.overlay:hover {
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.overlay > small {
    position: absolute;
    top: .25rem;
    left: .25rem;
    border: none;
}